.social-media {
    font-size: 2.5rem;
    border-radius: .25rem;
    cursor: pointer;
    /* padding: 8px 16px; */
    padding: 0px 0px 0px 24px;
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.github, .github:hover {
    color: #24292E;
}

.linkedin, .linkedin:hover{
    color: #2867B2;
}

p {
    margin: 0;
}

aside {
    width: auto;
    text-align: right;
    float: right;
}