p {
  margin: 0;
  white-space: pre-wrap;
}

h4, h5, h6 {
  margin: 0px 0px 5px 0px;
}


details {
  margin-top: 15px;
}

details > summary {
  list-style-type: none;
  margin-bottom: 0px;
  cursor: pointer;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::after {
  content: url(/assets/img/angle-down-solid.svg);
}

details[open] > summary::after {
  content: url(/assets/img/angle-up-solid.svg);;
}

